<div class="main-container">
    <div class="text-container">
        <h6>Hear It From Our<br>Prograds</h6>
        Beign a prograd is life-time experience. In the past,<br>
        we have several times tried showing the world what<br>
        is to be a ProGrad. But, we soon realised that no one<br>
        can better describe this journey than our Prograds themselves.<br>
        <p>
            So here we are with amission to let the world hear<br>
            it from our ProGrads!
        </p>
        <br>
        <p class="hashtag">
            #ProudProGrads #YourDreamOurMission
        </p>
    </div>
    <div>
        <img src="assets/capture.png" alt="ProGrad" width="600px" height="600px">
    </div>
</div>